body {
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(54, 54, 54);
    margin:0%;

}


#left {
    background-image: url('green-bg.jpg');
    background-size: cover;
    font-size: 36px;
    color: white;
    padding: auto;
    width: 240px;
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}

#container {
    display: flex;
    padding: 0%;
}

.bold {
    font-size: 1.5rem;
}


body {
}