body {
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(54, 54, 54);
    margin:0%;

}
html {
    background-color: rgb(241, 241, 241);
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  width: 240px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#left {
    background-image: url('green-bg.jpg');
    background-size: cover;
    font-size: 36px;
    color: white;
    padding: auto;
    width: 240px;
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

#container {
    display: flex;
    padding: 0%;

}

.bold {
    font-size: 1.5rem;
    font-weight: 600;
}

#main {
    padding-left: 20px;
}

form {
  position: static;
  padding: 1em;
  box-sizing: border-box;
  background: white url("background.jpg");

  /* we create our grid */
  display: grid;
  grid-template-columns: 260px 260px;
  gap: 20px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #888888;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
  color: #888888;
  margin-bottom: 4px;
}

button {
    appearance: none; 
    color: white;
    background-color: rgb(17, 73, 16);
    border-radius: 8px;
    padding: 8px 16px;
    margin-bottom: 16px;


    -webkit-appearance: none; /* For Webkit browsers */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* Standard property */
    border: none; /* Remove default border */
}

a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(17,73,16);
}

input:invalid{
  border: none;
  outline: 1px solid red;
}